*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.element{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Hind Siliguri', sans-serif;
}

h2{
    width: 80%;
    text-align: center;
}

.second__div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(232, 232, 232);
    margin: auto 50px;
    border-radius: 10px;
    padding: 20px;
}

.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: whitesmoke;
    margin: 20px;
    padding: 15px;
    height: 170px;
    box-shadow: 11px 10px 10px -2px rgba(130,130,130,0.75);
    -webkit-box-shadow: 11px 10px 10px -3px rgba(130,130,130,0.75);
    -moz-box-shadow: 11px 10px 10px -3px rgba(130,130,130,0.75);
    border-radius: 10px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
}

.numbers{
    font-size: 26px;
    color: rgb(65, 65, 65);
}
.text{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}
.icon{
    height: 30px;
    width: 30px;
    font-size: 28px;
    text-align: center;
}

.globe_section, .globe_icon, .globe_text{
    color: rgb(233, 104, 57);
}

.rocket_section, .rocket_icon, .rocket_text{
    color: rgb(68, 230, 245);
}

.briefcase_section, .briefcase_icon, .briefcase_text{
    color: rgb(242, 62, 167);
}

.mobile_button_section, .mobile_button_icon, .mobile_button_text{
    color: rgb(167, 49, 246);
}

/* Media Queries */
@media (max-width: 768px){
    .second__div{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 480px){
    .second__div{
        display: grid;
        grid-template-columns: auto;
    }
}